@charset "utf-8";
@import url('reset.css');

* {
    cursor: none;
}

.cursor {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: 0.2s linear;
}

.cursor.scale {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor.scale::before {
    content: 'Drag';
    color: rgb(253, 58, 155);
}

.header {
    height: 100px;
    background-color: pink;
    text-align: center;
    line-height: 100px;
}

.item {
    width: 400px;
    margin: 100px auto;
}

.item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.item p {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin-top: 8px;
}